*{
	padding:0;
}
body{
	background:pink;
}
.card{
	height:300px;
	width:300px;
	border-radius:3px;
	border:solid red;
	display:inline-block;
	position:relative;
	left:40px;
	background-image:url(blc.jpg);
	background-size:100% 100%;
	opacity:0.8;
	transition:transform 0.5s;
	color:white;
}
.card:hover{
	cursor:pointer;
	transform:translateY(-30px);
}
.card1{
	background-image:url("event.jpg");
	
}
.card2{
	background-image:url("1.jpg");
}
.card3{
	background-image:url("2.jpg");
}